<div class="topic-content">
  <div class="topic-head">
    <%= hub_avatar_tag topic.customer -%>
    <%= link_to topic_path(id: topic.uid), class: 'flex-large-item' do -%>
      <div class="topic-head-people">
        <p>
          <span class="topic-head-name bold-text"><%= topic.customer.name -%></span>
          <span class="topic-head-title"><%= topic.customer.title -%></span>
        </p>
        <p><%= topic.customer.company -%></p>
      </div>
    <% end -%>
    <p class="topic-category"><%= topic.category unless topic.category == '巴一下' -%></p>
  </div>
  <div class="topic-title">
    <%= link_to topic_path(id: topic.uid), class: 'flex-large-item' do -%>
      <p><%= sanitize hub_deal_with_emoji(topic.title).html_safe -%></p>
    <% end -%>
  </div>
  <% if topic.topic_images_count.to_i > 4 -%>
    <div class="topic-image-9">
      <% topic.images.each_with_index do |ti, i| -%>
        <%= hub_app_display_topics_link ti.image, topic.images, i, '@!t9', iphone_ipad_app_request? -%>
      <% end %>
    </div>
  <% elsif topic.topic_images_count.to_i > 1 -%>
    <div class="topic-image-4">
      <% topic.images.each_with_index do |ti, i| -%>
        <%= hub_app_display_topics_link ti.image, topic.images, i, '@!t4', iphone_ipad_app_request? -%>
      <% end %>
    </div>
  <% else -%>
    <div class="topic-image-1">
      <% topic.images.each_with_index do |ti, i| -%>
        <%= hub_app_display_topics_link topic.images.first.image, topic.images, i, '@!t1', iphone_ipad_app_request? -%>
      <% end %>
    </div>
  <% end -%>
  <div class="topic-footer">
    <%= link_to topic_path(id: topic.uid), class: 'flex-large-item' do -%>
      <span class="light-text"><%= hub_time_ago_in_words topic.activity_at -%></span>
    <% end -%>
    <% if topic.customer == @current_customer %>
      <%= link_to '删除', topic_path(id: topic.uid), method: :delete, data: { confirm: '确定删除？' } -%>
    <% end %>
    <%= link_to topic_path(id: topic.uid) do -%>
      <span><i class="gray-reply"></i><%= topic.replies_count == 0 ? '评论' : topic.replies_count -%></span>
    <% end -%>
    <%= hub_liker_praise_link(hub_current_customer, topic, refresh_heads_bar: refresh_heads_bar) %>
  </div>
</div>
<% if topic.likers_count.to_i > 0 -%>
  <%= hub_topic_likers_heads_bar(topic) -%>
<% end -%>
