<div class="topic-content">
  <div class="topic-head">
    <%= hub_avatar_tag topic.customer -%>
    <div class="topic-head-people">
      <p>
        <span class="topic-head-name bold-text"><%= topic.customer.name -%></span>
        <span class="topic-head-title"><%= topic.customer.title -%></span>
      </p>
      <p><%= topic.customer.company -%></p>
    </div>
    <p class="topic-category"><%= topic.category unless topic.category == '巴一下' -%></p>
  </div>
  <div class="topic-title">
    <p><%= sanitize hub_deal_with_emoji(topic.title).html_safe -%></p>
  </div>
  <% if topic.topic_images_count.to_i > 4 -%>
    <div class="topic-image-9">
      <% topic.images.each do |ti| -%>
        <%= image_tag ti.image.url(thumb: '@!t9') -%>
      <% end %>
    </div>
  <% elsif topic.topic_images_count.to_i > 1 -%>
    <div class="topic-image-4">
      <% topic.images.each do |ti| -%>
        <%= image_tag ti.image.url(thumb: '@!t4') -%>
      <% end %>
    </div>
  <% else -%>
    <div class="topic-image-1">
      <%= image_tag topic.images.first.image.url(thumb: '@!t1') unless topic.images.blank? %>
    </div>
  <% end -%>
  <div class="topic-footer">
    <%= link_to topic_path(id: topic.uid), class: 'flex-large-item' do -%>
      <span class="light-text"><%= hub_time_ago_in_words topic.activity_at -%></span>
    <% end -%>
    <span><i class="gray-reply"></i>评论</span>
    <span><i class="gray-liker"></i>赞</span>
  </div>
</div>
