<div class="topic-container">
  <div class="topic-head">
    <%= image_tag topic.customer.avatar.try(:url)||'' %>
    <div class="topic-head-people">
      <p>
        <span class="topic-head-name"><%= topic.customer.name -%></span>
        <span class="topic-head-title"><%= topic.customer.title -%></span>
      </p>
      <p><%= topic.customer.company -%></p>
    </div>
  </div>
  <div class="topic-title">
    <p><%= topic.title -%></p>
  </div>
  <% if topic.images.count > 1 -%>
    <div class="topic-image-4">
      <% topic.images.each do |ti| -%>
        <%= image_tag ti.image.url(thumb: '@!t4') -%>
      <% end %>
    </div>
  <% else -%>
    <div class="topic-image-1">
      <%= image_tag topic.images.first.image.url(thumb: '@!t1') unless topic.images.blank? %>
    </div>
  <% end -%>
</div>
