<article>
  <header class="invitations-header">
    <%= image_tag 'invitation/head.png', class: 'invitation_head' %>
    <p class="invitation_user">
      <span class="user_name">MONK</span>
      <!--男-->
      <a class="user_sex_m" style="display: none">
        <%= image_tag 'invitation/man.png' %>
        <span>28</span>
      </a>
      <!--女-->
      <a class="user_sex_w">
        <%= image_tag 'invitation/woman.png' %>
        <span>28</span>
      </a>
    </p>
    <p class="company_position">产品经理</p>
    <p class="company_name">巴爷科技（上海）有限公司</p>
    <p class="add_friend"><a>加为好友</a></p>
  </header>
  <section class="invitations-content">
    <p>生活中有更多可能</p>
    <p>找到身边的新朋友，发现身边的新鲜事</p>
    <%= image_tag 'invitation/circle-friends.png' %>
  </section>
  <footer class="invitations-footer">
    <%= image_tag 'invitation/baye_logo.png' %>
    <p>巴爷汇</p>
    <p>专业的社交平台</p>
    <a class="invitations_download">立即下载</a>
  </footer>
</article>