<article>
  <header class="invitations-header">
    <%= hub_avatar_tag @current_customer, no_link: true, style_class: 'invitation_head' -%>
    <p class="invitation_user">
      <span class="user_name"><%= @current_customer.name -%></span>
      <% if @current_customer.gender == '男' -%>
        <a class="user_sex_m">
          <%= image_tag 'invitation/man.png' %>
          <span></span>
        </a>
      <% elsif @current_customer.gender == '女' -%>
        <a class="user_sex_w">
          <%= image_tag 'invitation/woman.png' %>
          <span></span>
        </a>
      <% end -%>
    </p>
    <p class="company_position"><%= @current_customer.title -%></p>
    <p class="company_name"><%= @current_customer.company -%></p>
    <p class="add_friend"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.bayekeji.dizhu">加为好友</a></p>
  </header>
  <section class="invitations-content">
    <p>生活中有更多可能</p>
    <p>找到身边的新朋友，发现身边的新鲜事</p>
    <%= image_tag 'invitation/circle-friends.png' %>
  </section>
  <footer class="invitations-footer">
    <%= image_tag 'invitation/baye_logo.png' %>
    <p>巴爷汇</p>
    <p>专业的社交平台</p>
    <a class="invitations_download" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.bayekeji.dizhu">立即下载</a>
  </footer>
</article>